html {
  height: 100%;
  box-sizing: border-box;
}

body {
    
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom:50px;
    
    background-color: white;
}
.footer{
    text-align: center;
    background-color: black;
    padding:10px;
    color:white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
}
.container{
    padding-top: 65px;
    position: relative;
   
    
}

.info{
    list-style: none;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 8%;
    left: 75%;
    width: 15%;
    
}

